html
    head
        title Add TODO
    body
        form.form-inline(action="/todos", method="POST")
            div.form-group
                label(for="message") TODO:
                input.form-control(name="message" placeholder="write your Todo here")
                button.btn-primary(type="submit") Save